body{
    padding: 0;
    margin: 0;
    background-color: #061421;
    
}
a{
    list-style: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5e0813;
}

.menu_link{
    color:#f4b315;
    font-size: 23px;
    text-decoration: none;
    margin-right: 20px;
    text-shadow: #000000 0 10px 10px;
}
.menu_link:after{
    content: " ";
    width: 0;
    background-color: red ;
    display: block;
    height: 3px;
    transition: width 0.3s ease;
}
.menu_link:hover::after{
    width: 100%;
}
span{
    color: white ;
}
h1{
    font-size: 25px;
    color:#f4b315;
    text-shadow: #000000 0 10px 10px;
}
.caja{
  color: white;  
  background-color: #061421;  
  border: 3px solid #c00505;   
  padding: 30px;               
  margin: 20px 0;             
  border-radius: 10px;         
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-family: Arial, sans-serif; 
}
